.header {
  display: flex;
  flex-direction: column;
}

.title-desciption {
  text-align: center;

  h1 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 4px;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.container {
  position: relative;
  width: 300px;
  height: 100px;
  background: #ddd;
  border-radius: 30px;

  margin: 20px auto;

  .randomNumber-container {
    // div에 중앙정렬
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 24px;
    letter-spacing: 2px;
  }
}
